<!DOCTYPE html>
<form action="/login/" id="login" name="login" method="post">
    {{form.csrf_token}}
    <div class="form-group">
        {{form.username.label}} {{form.username(class_="form-control", size=30,
        maxlength=30)}}
    </div>
    <br />
    <div class="form-group">
        {{form.password.label}} {{form.password(class_="form-control",
        minlength=12)}}
    </div>
    <br />
    <div class="row mx-auto">
        {{form.submit(class_="btn btn-primary col")}}
    </div>
</form>
