<!DOCTYPE html>
<form
    action="{{url_for('auth.finish_signup')}}"
    id="setup"
    name="setup"
    method="post">
    {{form.csrf_token}}
    <div class="form-group">
        {{form.name.label}} {{form.name(class_="form-control", size=30,
        maxlength=30)}}
    </div>
    <br />
    <div class="form-group">
        {{form.password.label}} {{form.password(class_="form-control",
        minlength=12)}}
    </div>
    <br />
    <div class="form-group">
        {{form.confirmation.label}} {{form.confirmation(class_="form-control",
        minlength=12)}}
    </div>
    <br />
    <div class="row mx-auto">
        <button
            onclick="openModal('User Login:', '/login-form/')"
            class="btn btn-secondary col">
            Already Registered? Log In
        </button>
        {{form.submit(class_="btn btn-primary col")}}
    </div>
</form>
