<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<main class="about-main centered">
	<h1>About Me!</h1>

	<p>
		My name is Steven Briggs, I am 33 years old, currently living in
		Washington for the past several years after moving from Arizona.
		<br />
		Up until now I have been programming as a hobby, I am self-taught in
		Java and have been using it for the past 5 years.
		<br />
		I am currently looking to branch out, extend my skills with other
		languages and make programming my career!
	</p>

	<section class="experience">
		<table class="experience-table table">
			<thead>
				<td>Language</td>
				<td>Experience</td>
				<td>Level of Expertise</td>
			</thead>
			<tbody>
				<tr>
					<td>Java</td>
					<td>5 Years</td>
					<td>Advanced</td>
				</tr>
				<tr>
					<td>Python</td>
					<td>1 Year</td>
					<td>Beginner</td>
				</tr>
                <tr>
					<td>Rust</td>
					<td>1 Year</td>
					<td>Beginner</td>
				</tr>
				<tr>
					<td>CSS</td>
					<td>1 Year</td>
					<td>Beginner</td>
				</tr>
				<tr>
					<td>HTML</td>
					<td>1 Year</td>
					<td>Beginner</td>
				</tr>
			</tbody>
		</table>
	</section>
</main>

{% endblock %}
