<!DOCTYPE html>
{% extends "public/partials/base.html" %} {% block main %}

<main class="about-main centered">
    <h1>About Me!</h1>

    <p>
        My name is Steven Briggs, and I am a passionate self-taught programmer with several years of experience learning and building projects.
        <br><br>
        After moving to Washington from Arizona, I’ve enjoyed diving deeper into my love for technology and programming as a path toward my long-term career goals.
        <br><br>
        To that end I recently completed a full-stack web development bootcamp through CareerFoundry!
    </p>

    <p>
        I specialize in web development, working with modern frameworks, technologies, and tools. Below is a quick overview of the frameworks, languages, and tools I've worked with:
    </p>

    <!-- Frameworks and Tools Section -->
    <section class="tech-stack">
        <h2>Technologies I've Worked With</h2>
        <div class="tech-grid">
            <div class="tech-item">
                <img src="/static/img/svg/java.svg" alt="Java" />
                <p>Java</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/rust.svg" alt="Rust" />
                <p>Rust</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/javascript.svg" alt="Java" />
                <p>JavaScript</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/python.svg" alt="Python" />
                <p>Python</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/react.svg" alt="React" />
                <p>React</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/mariadb.svg" alt="MariaDB" />
                <p>MariaDB</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/mongodb.svg" alt="MongoDB" />
                <p>MongoDB</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/html.svg" alt="HTML" />
                <p>HTML</p>
            </div>
            <div class="tech-item">
                <img src="/static/img/svg/css.svg" alt="CSS" />
                <p>CSS</p>
            </div>
        </div>
        <h3>Plus More! View my Projects to learn more</h3>
    </section>
</main>

{% endblock %}